[submodule "pass"]
	path = gitmodules/pass
	url = https://github.com/stellarhoof/pass
	branch = master
[submodule "st"]
	path = gitmodules/st
	url = https://github.com/stellarhoof/st
	branch = config
