[submodule "user/mutable/.local/share/pass"]
	path = user/mutable/.local/share/pass
	url = https://github.com/stellarhoof/pass
	branch = master
[submodule "user/home-manager/programs/st"]
	path = user/home-manager/programs/st
	url = https://github.com/stellarhoof/st
